// START SIDEbySIDE
.sideWrapper {
  width: 90%;
  margin: 150px auto;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 100;

  .sidePhoto {
    width: 100%;
    display: flex;
    img {
      width: 80%;
      max-height: 700px;
      object-fit: cover;
    }
  }
  .sideText {
    margin: 0px auto;
    display: flex;
    width: 90%;

    .sideTextBox {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      width: 80%;
      text-align: center;
      margin: 0 auto;

      h4 {
        font-size: 30px;
        font-weight: 500;
      }
      p {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}
.sideWrapper:nth-child(even) {
  flex-flow: row-reverse;
  .sidePhoto {
    display: flex;
    justify-content: end;
  }
}



//END SIDEbySIDE

@media (max-width: 1000px) {
    .sideWrapper {
        .sideText {
          .sideTextBox {
            h4 {
              font-size: 20px;
              padding-bottom: 20px;
            }
            p {
              font-size: 15px;
              margin-top: 10px;
              margin-bottom: 10px;
            }
          }
        }
      }
}


@media (max-width: 630px) {
    .sideWrapper {
        border: 2px solid $DarkLight;
        flex-flow: column-reverse;
        margin: 40px auto;
        padding: 40px 40px;
        .sidePhoto {
          padding-top: 40px;
          img {
            margin: 0 auto;
            width: 100%;
          }
        }
        .sideText {
          width: 100%;
          .sideTextBox {
            width: 100%;

           
          }
        }
      }
      .sideWrapper:nth-child(even) {
        flex-flow: column-reverse;
      }
}