// START KITCHEN
.kitchenWrapper {
  padding: 0 0 40px 0;
  font-family: "Raleway", sans-serif;

  .imgWrapper {
    margin-bottom: 40px;
    position: relative;
    .overlayImg {
      position: absolute;
      transition: 200ms ease-in-out;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
      height: 100%;
      width: 100%;
    }
    .kitchenImg {
      position: relative;
      img {
        width: 100%;
      }
      h5 {
        color: invert($color: #000000);
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
  }
  .kitchenTextWrapper {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    .textBoxes {
      width: 30%;
      h3 {
        font-weight: bold;
        font-size: 25px;
        padding-bottom: 20px;
      }
      h4 {
        font-size: 20px;
        padding-bottom: 10px;
      }
      h5{
        font-weight: lighter;
      }
    }
  }
}


// END KITCHEN

@media (max-width: 1000px) {
  .kitchenWrapper {
    padding-bottom: 100px;
    .imgWrapper {
      margin-bottom: 0;
      .kitchenImg {
        h5 {
          font-size: 25px;
          min-width: 169px;
        }
      }
    }
    .kitchenTextWrapper {
      flex-flow: wrap;
      text-align: center;
      .textBoxes {
        .textBoxes {
          width: 100%;
          text-align: center;
          h3 {
            padding-top: 50px;
            padding-bottom: 15px;
          }
        }
      }
    }
  }
}





