// Start three photos with timing
.menuStarter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: $Dark;
  padding: 40px 0;
  .eachBox {
    width: 25%;
    position: relative;
    overflow: hidden;

    .imgBox {
      display: flex;
      justify-content: space-around;
      position: relative;
      max-height: 400px;

      img {
        overflow: hidden;
        object-fit: cover;
        opacity: 0.8;
        z-index: 2;
      }
      .starterBg {
        overflow: hidden;
        position: absolute;
        background-color: black;
        height: 100%;
        width: 100%;
        max-width: 400px;
      }
    }
    .textBox {
      width: 100%;
      position: absolute;
      bottom: 5px;
      text-align: center;
      z-index: 3;
      color: $Light;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;

      h3 {
        font-size: 22px;
        padding-bottom: 10px;
      }
      h4 {
        font-size: 18px;
        padding-bottom: 10px;
      }
      h5 {
        font-size: 15p;
      }
    }
  }
}
// END three photos with timing
