.carousel-wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;

  .left-opacity {
    width: 5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.291);
    z-index: 9;
    position: absolute;
  }
  .right-opacity {
    right: 0;
    width: 5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.291);
    z-index: 9;
    position: absolute;
  }
  #nextBtn {
    position: absolute;
    margin-right: 10px;
    right: 0;
    top: 45%;
    z-index: 10;
    border: none;
    background: none;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }
  #prevBtn {
    position: absolute;
    margin-left: 10px;
    top: 45%;
    z-index: 10;
    border: none;
    background: none;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }
  .carousel-container {
    // overflow: hidden;
    margin: auto;
    width: 50%;

    .carousel-slide {
      display: flex;
      width: 100%;

      img {
        object-fit: cover;
        width: 100%;
        max-width: 600px;
      }
    }
  }
}
