//   ====== START  Contact ======  //
.contactHead {
  width: 100%;
  h1 {
    font-size: 100px;
    text-align: center;
    padding-top: 40px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
  }
  h3 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 60px;
  }
}
.contactForm {
  display: flex;
  justify-content: space-between;
  padding: 0 70px 70px 70px;

  .contactFormWrapper {
    width: 50%;

    label {
      padding-left: 5px;
    }
    /* Style inputs with type="text", select elements and textareas */
    input[type="text"],
    select,
    textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    /* Style the submit button with a specific background color etc */
    input[type="submit"] {
      background-color: $Dark;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type="submit"]:hover {
      background-color: $DarkLight;
    }
  }
  .contactMap {
    width: 40%;
  }
}
//   ====== END    Contact ======  //

@media (max-width: 630px) {
  .contactForm {
    flex-flow: column;
    .contactFormWrapper {
      width: 100%;
    }
    .contactMap {
      width: 100%;
      height: 300px;
    }
  }
}
