//   ====== START Header - Footer ======  //
// START ELEMENTS
body {
  background-color: $Background;
}
.undermenu {
  height: 50px;
  width: 100%;
}
.mycontainer {
  width: 96%;
  margin: 0 auto;
  max-width: 1350px;
}
// END ELEMENTS

// head photo start
.head-photo-wrapper {
  max-height: 500px;
  display: flex;
  position: relative;
  width: 100%;
  .overlay-headphoto {
    position: absolute;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .h5 {
    color: invert($color: #000000);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    line-height: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
  .web-wrapper {
    width: 100%;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .photography-wrapper {
    width: 50%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// head photo end

//carousel styles start

.carousel-wrapper{
  .carousel-container {
    margin: auto;
    width: 30%;
    .carousel-slide {
      display: flex;
      width: 100%;
  
      img {
        width: 100%;
        max-width: 600px;
      }
    }
  }
}

//carousel styles end
